name: projecho
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 1.0.0+1

environment:
  sdk: ^3.7.2

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter
  onboarding: ^4.0.2
  font_awesome_flutter: ^10.8.0
  flutter_animate: ^4.5.2
  google_sign_in: ^6.3.0
  firebase_core: ^3.13.0
  firebase_auth: ^5.5.3
  fl_chart: 0.63.0
  pin_code_fields: ^8.0.1

  cupertino_icons: ^1.0.8
  google_fonts: ^6.2.1
  intl_phone_number_input: ^0.7.4
  cloud_firestore: ^5.6.7
  animations: ^2.0.11
  intl: ^0.20.2
  flutter_rating_bar: ^4.0.1
  carousel_slider: ^5.1.1
  flutter_vector_icons: ^2.0.0
  google_nav_bar: ^5.0.7
  typicons_flutter: ^0.5.0
  flutter_tabler_icons: ^1.43.0
  url_launcher: ^6.3.1
  google_maps_flutter: ^2.12.2
  geocoding: ^4.0.0
  location: ^8.0.0
  flutter_launcher_icons: ^0.14.3
  flutter_form_builder: ^10.0.1
  im_stepper: ^1.0.1+1
  encrypt: ^5.0.3
  geolocator: ^14.0.1
  permission_handler: ^12.0.0+1
  timeline_tile: ^2.0.0
  flutter_initicon: ^3.0.1
  local_auth: ^2.3.0
  googleapis: ^14.0.0
  googleapis_auth: ^2.0.0
  syncfusion_flutter_charts: ^30.1.42
  syncfusion_flutter_maps: ^30.1.42
  provider: ^6.1.5
  http: ^1.4.0
  flutter_heatmap_calendar: ^1.0.5
  percent_indicator: ^4.2.5
  shared_preferences: ^2.5.3
  crypto: ^3.0.6
  csv: ^6.0.0
  pdf: ^3.11.3
  printing: ^5.14.2
  syncfusion_flutter_gauges: ^30.2.5
  image_picker: ^1.2.0
  firebase_storage: ^12.4.10
  connectivity_plus: ^6.1.5
  share_plus: ^11.1.0
  path_provider: ^2.1.5
  syncfusion_flutter_datagrid: ^30.2.6
  file_picker: ^10.3.2
  archive: ^4.0.7
  webview_flutter: ^4.13.0
  cloud_functions: ^5.6.2
  google_places_flutter: ^2.1.1

flutter_icons:
  android: true
  ios: false
  image_path: "assets/images/icon.png"

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^6.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/onboarding/
    - assets/
    - assets/profiling/

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: WorkSans
      fonts:
        - asset: assets/fonts/WorkSans-Regular.ttf
        - asset: assets/fonts/WorkSans-Medium.ttf
          weight: 500
        - asset: assets/fonts/WorkSans-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/WorkSans-Bold.ttf
          weight: 700
    - family: Roboto
      fonts:
        - asset: assets/fonts/Roboto-Bold.ttf
        - asset: assets/fonts/Roboto-Regular.ttf
        - asset: assets/fonts/Roboto-Medium.ttf
          weight: 400
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
